<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smsManager.dao.SmsValidateMapper">
  <resultMap id="BaseResultMap" type="smsManager.entity.SmsValidate">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PHONENUMBER" jdbcType="VARCHAR" property="phonenumber" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="EXPIREDATE" jdbcType="TIMESTAMP" property="expiredate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PHONENUMBER, CODE, EXPIREDATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SMS_VALIDATE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SMS_VALIDATE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="smsManager.entity.SmsValidate">
    insert into SMS_VALIDATE (ID, PHONENUMBER, CODE, 
      EXPIREDATE)
    values (#{id,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{expiredate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="smsManager.entity.SmsValidate">
    insert into SMS_VALIDATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="phonenumber != null">
        PHONENUMBER,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="expiredate != null">
        EXPIREDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="expiredate != null">
        #{expiredate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="smsManager.entity.SmsValidate">
    update SMS_VALIDATE
    <set>
      <if test="phonenumber != null">
        PHONENUMBER = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="expiredate != null">
        EXPIREDATE = #{expiredate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="smsManager.entity.SmsValidate">
    update SMS_VALIDATE
    set PHONENUMBER = #{phonenumber,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      EXPIREDATE = #{expiredate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>